/*
  GOOGLE FONTS
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

body {
  font-family: "Raleway";
}

.panel-body p {
  font-size: 18px;
}

#article-results-area {
  margin-top: 40px;
}

.badge {
  margin-right: 25px;
  border-radius: 50%;
  background-color: #0D9ADB;
  padding: 10px;
}
